.content {
   padding: 20px;
   background-color: rgba(0, 87, 190, 0.1);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   -ms-border-radius: 8px;
   -o-border-radius: 8px;
}
.title {
   margin-bottom: 10px;
   color: #0057be;
   font-size: 18px;
}
.list {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}
.item {
   padding: 0 10px;
   background-color: #fff;
   border: 1px solid #0057be;
   border-radius: 50px;
   -webkit-border-radius: 50px;
   -moz-border-radius: 50px;
   -ms-border-radius: 50px;
   -o-border-radius: 50px;
   cursor: pointer;
}
.link {
   text-decoration: none;
   color: #0057be;
}
